# Byte-compiled files
# ignore all pycashes in the source/ directory and any of its subdirectories
source/**/__pycache__/
source/**/catkin**
__pycache__
#no vscode stuff either
*.vscode
#rando .exe (why?)
*.exe
#too-big files
/images/drive-download-20180409T175248Z-001.zip
*.jpg
*.JPG
source/**/data/
source/**/images/
*.png
source/**/nn_data/
*.model
